/* body style */
body{
    font-family: "poppins" , sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000;

}
/* text style  */
h2{
    font-size: 6em;
    font-weight: 500;
    color: aqua;
    letter-spacing: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}
h2:hover{
    color: aquamarine;
    text-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;

}
/* finally  */
/* we done it  */
/* thanks for watching */